.App {
  text-align: center;
  background-color: #494D5f
}

a {
  text-decoration: none;
}

.mainContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70%;
}

.mainContainer div {
  width: 100%;
}

.FormWrapper {
  justify-content: center;
  align-items: center
}

.BoxWrapper {
  display: flex;
  justify-content: center;
  margin: 4px;
}

.TextBox {
  text-align: justify;
  width: 80%;
}

h3 {
  text-align: center;
}

.TruncatedText {
  width: 20ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: "inline-block";
}

.sceneWrapper {
  margin: auto;
  width: 100%;
  height: 500px;
  justify-content: center;
}